
.main{
    display: block;
    width: 80vw;
    height: auto;
    background-color: white;
    border-radius: 5px;
    position: relative;
    left: 10%;
    margin: 20px 0 20px 0;
    padding: 20px
}

h2 {
    color: #f0b14c;
    font-size: 2.5em; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 20px; 
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 30px;
  }
  
