<header>
<div class="logo-div">
    <img class="logo" src="/assets/img/logo.png" alt="SwiftStore!">
    <h1>SwiftStore</h1>
</div>

<div class="menu">
<nav>
    <button class="home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="/assets/img/home.png" alt="Home">
        Inicio
      </button>

      <button class="prods" routerLink="/characters" routerLinkActive="active">
        <img src="/assets/img/prods.png" alt="Prods">
        Productos
      </button>

      <button class="gestion" routerLink="/contact" routerLinkActive="active">
        <img src="/assets/img/gestion.png" alt="Gestión">
        Gestión
      </button>

</nav>
</div>
</header>