<div class="main">
  <div class="buscador-div">
    <div class="buscador-div">
      <input
        class="buscador"
        type="text"
        [(ngModel)]="buscador"
        placeholder="Buscar producto"
        (input)="filtername()"
      />
    </div>
    <div class="listado">
      <h2>Listado de productos {{ numeroProductos }}</h2>
    </div>
    <div class="contenedor">
      <div class="productos-div" *ngFor="let producto of datos">
        <div class="producto-inner">
          <img
            class="imagen"
            src="{{ producto.image }}"
            alt="{{ producto.name }}"
          />
          <div class="producto-texto">
            <p class="nombre">{{ producto.name }}</p>
            <p class="descripcion">{{ producto.description }}</p>
            <div class="producto-footer">
              <p class="precio">{{ producto.price }}</p>
              <p class="estrellas">{{ getStarRating(producto.stars) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
